/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
    nav ul li a{
        font-size: 14px;
        padding: 2px;
    }
    .write p{
        font-size: 11px;
    }
    @keyframes typing {
        from{
            width: 0;
        }
        to{
            width: 350px;
        }
    }
    span{
        font-size: 13px;
    }
    h2{
        font-size: 20px;
        padding-top: 10px;
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    footer{
        font-size: 12px;
    }
    .red{
        width: 6%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    nav ul li a{
        font-size: 20px;
        padding: 8px;
    }
    .write p{
        font-size: 15px;
    }
    @keyframes typing {
        from{
            width: 0;
        }
        to{
            width: 470px;
        }
    }
    span{
        font-size: 15px;
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .red{
        width: 5%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .write p{
        font-size: 18px;
    }
    @keyframes typing {
        from{
            width: 0;
        }
        to{
            width: 580px;
        }
    }
    span{
        font-size: 16px;
    }
    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .red{
        width: 5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
    nav ul li a{
        font-size: 20px;
    }
    .grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 720px;
    }
    .red{
        width: 3%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    nav ul li a{
        font-size: 26px;
        padding: 14px;
    }
    .write p{
        font-size: 20px;
    }
    span{
        font-size: 27px;
    }
    .grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 720px;
    }
    .red{
        width: 3%;
    }
}
@media only screen and (min-width: 1500px) {
    nav ul li a{
        font-size: 30px;
    }
    .write p{
        font-size: 28px;
    }
    @keyframes typing {
        from{
            width: 0;
        }
        to{
            width: 900px;
        }
    }
    span{
        font-size: 28px;
    }
}